<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.system.mapper.DictMapper">
    <resultMap id="dictList" type="dictListResponse">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <collection property="children" ofType="com.example.system.entity.vo.DictListResponse$Item">
            <id column="dict_id" property="id"/>
            <result column="label" property="label"/>
            <result column="value" property="value"/>
        </collection>
    </resultMap>

    <select id="selectDictList" resultMap="dictList">
        SELECT
            a.id,
            a.`name`,
            b.id dict_id,
            b.label,
            b.`value`
        FROM
            dict_type a
            LEFT JOIN dict b ON b.dict_type_id = a.id
            AND b.state = 0
        WHERE
            a.state = 0
    </select>

    <select id="selectSelectList" resultType="dictSelectResponse">
        SELECT
            b.label,
            b.`value`
        FROM
            dict_type a
            LEFT JOIN dict b ON b.dict_type_id = a.id
            AND a.state = 0
            AND a.`name` = #{name}
        WHERE
            b.state = 0
    </select>

    <select id="selectLabel" resultType="string">
        SELECT
            b.label
        FROM
            dict_type a
            LEFT JOIN dict b ON b.dict_type_id = a.id
            AND a.state = 0
            AND b.state = 0
        WHERE
            a.`name` = #{name}
            AND b.`value` = #{value}
    </select>
</mapper>